@charset "UTF-8";
.error {
  background: red;
  color: white;
  width: 90%;
  padding: 10px !important;
  text-align: center;
  font-size: 15px;
  margin-top: 10px;
  margin: 0 auto;
}

.button {
  background: none;
  border: white solid;
  border-radius: 10px;
  padding: 7px;
  cursor: pointer;
}

.button:hover {
  border: #484c48 solid;
  transition: all ease-out 200ms;
}

.boton_logOut {
  padding: 7px;
  letter-spacing: 1.6px;
  font-weight: 500;
  font-size: 15px;
  border-radius: 30px;
  color: #fff;
  font-weight: 500;
  border: solid #007aff !important;
  background-color: #125eaf;
  cursor: pointer;
  width: 100px;
}

.boton_logOut:hover {
  background: #007aff;
}

.texto {
  -webkit-animation: pulsate 0.11s ease-in-out infinite alternate;
          animation: pulsate 0.11s ease-in-out infinite alternate;
  color: #fff;
  font-family: Yellowtail, sans-serif;
  font-size: 14px;
  text-shadow: 0 0 7px #424444, 0 0 10px #fff, 0 0 21px #fff, 0 0 82px #5271ff, 0 0 92px #5271ff;
}

.navbar {
  background-color: rgba(18, 18, 18, 0.4392156863);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: fixed;
  top: 0;
  z-index: 20;
  width: 100%;
}
.navbar .logo {
  width: 10%;
  display: block;
}
.navbar .perfil {
  font-size: 30px;
}
.navbar .nav-container {
  display: flex;
  justify-content: space-between;
  width: 90%;
  padding: 5px;
  margin: 0 auto;
}
.navbar .boxLogo {
  font-size: 30px;
  color: #f5b921;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.navbar .boxLogo .boxLine {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}
.navbar .boxLogo .boxLine .line1 {
  background: #f5b921;
  color: #f5b921;
  width: 50px;
  height: 4px;
}
.navbar .boxLogo .boxLine .line2 {
  background: #f5b921;
  color: #f5b921;
  width: 50px;
  height: 4px;
}
.navbar .boxLogo .iconoLogo {
  font-size: 25px;
}
.navbar .boxLogo .textoLogo {
  color: #f5b921;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 25px;
  flex-grow: 1;
}
.navbar .nav-menu {
  list-style: none;
  text-align: center;
  width: 81%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .nav-links {
  color: #fff;
  text-decoration: none;
  border-bottom: 3px solid transparent;
}
.navbar .nav-item {
  text-align: center;
  margin: 0 auto;
}
.navbar .nav-item:after {
  content: "";
  display: block;
  height: 3px;
  width: 0;
  background: transparent;
  transition: width 0.7s ease, background-color 0.5s ease;
}
.navbar .nav-item:hover:after {
  width: 100%;
  background: #ffdd40;
}
.navbar .nav-item .active {
  color: #ffdd40;
  border: 1px solid #ffdd40;
}
.navbar .nav-icon {
  display: none;
}
.navbar .userLog {
  color: white;
  font-size: 16px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding-bottom: 6px;
}
@media screen and (max-width: 820px) {
  .navbar .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: 1pxsolid #fff;
    position: absolute;
    top: 80px;
    left: -110%;
    opacity: 1;
    transition: all 0.5s ease;
    padding-bottom: 30px;
    padding-top: 30px;
  }
  .navbar .nav-menu.active {
    background: rgba(12, 12, 12, 0.8196078431);
    left: 0px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
    height: 300px;
    padding-bottom: 30px;
    padding-top: 30px;
  }
  .navbar .nav-item .active {
    color: #ffdd40;
    border: none;
  }
  .navbar .nav-links {
    display: table;
  }
  .navbar .nav-icon {
    display: block;
    position: absolute;
    top: 4px;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
    color: #ffdd40;
  }
}

.formContent {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.formContent .formBox {
  display: flex;
  flex-direction: column;
  width: 240px;
  padding: 40px;
  margin-top: 50px;
  margin-right: 20px;
  margin-left: 20px;
  background: #e9dede;
  text-align: center;
}
.formContent h1 {
  color: #3742fa;
  text-transform: uppercase;
  font-weight: 500;
}
.formContent input {
  border: 0;
  background: none;
  margin: 20px auto;
  padding-bottom: 10px;
  border-bottom: #3742fa solid 2px;
  outline: none;
  font-size: 17px;
  width: 100%;
  color: black;
}
.formContent input:hover {
  width: 100%;
}
.formContent .button {
  border: 0;
  background: #3742fa;
  cursor: pointer;
  border: 2px solid #3742fa;
  width: 100%;
  height: 13%;
  color: white;
}
.formContent .button:hover {
  background: rgb(9, 19, 202);
}

@media screen and (min-width: 810px) {
  .formBox {
    width: 500px !important;
  }
}
.imageBackground {
  position: fixed;
  top: 0;
  left: 0;
}

.card {
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  background-color: #125eaf;
  border-bottom-left-radius: 20px;
  box-shadow: 1px 1px 15px -4px #330bff;
}
.card .votoCard {
  color: #edb709;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
}

.contenedorMovies {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(162px, 1fr));
  justify-items: center;
  align-items: center;
  justify-content: space-evenly;
  gap: 2em;
  padding-bottom: 15px;
  border-radius: 5px;
  width: 90% !important;
}
.contenedorMovies .MovieBox {
  text-align: center;
  position: relative;
}
.contenedorMovies .MovieBox .start {
  font-size: 25px;
  color: #edb709;
}
.contenedorMovies .MovieBox .movieVote {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 15px;
  font-weight: 900;
}
.contenedorMovies .MovieBox .movieImage {
  overflow: hidden !important;
  width: 100%;
  position: relative;
  height: 284px;
  border-top-right-radius: 100px;
}
.contenedorMovies .MovieBox div {
  padding: 7px;
}
.contenedorMovies .MovieBox div h4 {
  font-size: 12.5px !important;
  letter-spacing: 2px !important;
  text-align: center;
  font-weight: 800;
  padding-top: 0 !important;
  color: white;
}
.contenedorMovies .MovieBox div .movieTitle {
  color: white;
  letter-spacing: 2px;
}
.contenedorMovies .MovieBox div p {
  position: absolute;
  bottom: 2.6rem;
  right: 7px;
  z-index: 3;
  font-size: 0.75rem;
  font-weight: 700;
  background-color: #1dbf83;
  padding: 0 0.5rem;
  line-height: 1.2rem;
  border-radius: 1rem;
  color: #fff;
}
.contenedorMovies .MovieBox .infoBoxCard {
  position: relative;
  top: -4px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-left-radius: 20px;
  height: 25px;
}
.contenedorMovies .MovieBox .infoBoxCard .boxVoto {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.contenedorRatingFav2 .corazonDelete {
  position: absolute;
  top: 5px;
  right: 4px;
  color: red;
  font-size: 27px;
}
.contenedorRatingFav2 .corazon2 {
  position: absolute;
  top: 5px;
  right: 4px;
  color: #837e6f;
  font-size: 27px;
}

.main {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgb(41, 41, 41);
  padding-bottom: 80px !important;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.similarContainer {
  background: rgba(0, 0, 0, 0.68);
  padding: 15px;
  width: 55%;
}
.similarContainer h1 {
  color: rgb(240, 229, 229);
  font-size: 12px;
  width: 100%;
  text-align: center;
  padding-bottom: 0;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
  background: #125eaf;
}
.similarContainer .CarSimilar {
  margin: 15px;
  margin: 0 auto;
  background: rgba(223, 223, 230, 0.116) !important;
  padding: 20px;
  border-radius: 5px;
}
.similarContainer .CarSimilar .boxImg img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 5px !important;
  border-top-right-radius: 5px !important;
}
.similarContainer .slick-next {
  background: rgb(7, 56, 148) !important;
  border-radius: 50%;
  width: 50px !important;
  height: 50px !important;
}
.similarContainer .slick-prev {
  background: rgb(7, 56, 148) !important;
  border-radius: 50%;
  width: 50px !important;
  height: 50px !important;
}
.similarContainer .slick-prev {
  left: -70px;
  border: rgba(169, 168, 182, 0.363) solid 5px;
}
.similarContainer .slick-next {
  right: -70px;
  border: rgba(169, 168, 182, 0.363) solid 5px;
}
.similarContainer .slick-next:hover {
  background: rgb(18, 75, 182) !important;
  border: rgba(217, 216, 224, 0.363) solid 5px;
}
.similarContainer .slick-prev:hover {
  background: rgb(18, 75, 182) !important;
  border: rgba(217, 216, 224, 0.363) solid 5px;
}

.imageBox {
  top: 80px;
  margin: 20px;
  background: rgba(0, 0, 0, 0.568627451);
  margin-top: 80px !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}
.imageBox .movieImageSelect {
  min-width: 200px;
}
.imageBox .title,
.imageBox p {
  color: white;
  padding: 10px;
  font-size: 1.9vmax;
  text-align: justify;
  max-width: 80%;
  margin: 0 auto;
}
.imageBox .infoBox {
  display: flex;
  flex-direction: column;
}
.imageBox .infoBox h4 {
  font-size: 4vw;
  text-align: center;
}

.movieImageSelect {
  width: 15%;
  border-radius: 5px;
}

.contenedorRatingFav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.contenedorRatingFav h2 {
  color: white;
}
.contenedorRatingFav .boxStart {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
}
.contenedorRatingFav .itemBotton {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  max-width: 80%;
  height: 50px;
}
.contenedorRatingFav .itemBotton p {
  font-size: 15px;
  padding: 0;
  text-align: left !important;
  width: 170px;
}
.contenedorRatingFav .itemBotton .boxCorazon .cf {
  color: grey;
  font-size: 27px;
}
.contenedorRatingFav .itemBotton .boxCorazon .sf {
  color: red;
  font-size: 27px;
}
.contenedorRatingFav .itemBotton .corazon2 {
  position: relative;
  top: -337px;
  left: -51px;
}
.contenedorRatingFav .itemBotton .corazon2 .cf {
  color: grey;
  font-size: 27px;
}
.contenedorRatingFav .itemBotton .corazon2 .sf {
  color: red;
  font-size: 27px;
}

@media screen and (min-width: 471px) {
  .similarContainer {
    background: rgba(0, 0, 0, 0.68);
    padding: 15px;
    width: 69%;
  }
}
@media screen and (min-width: 820px) {
  .imageBox {
    top: 80px;
    margin: 20px;
    background: rgba(0, 0, 0, 0.568627451);
    margin-top: 80px !important;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 30px;
  }
  .imageBox .movieImageSelect {
    min-width: 238px;
  }
}
@media screen and (min-width: 957px) {
  .imageBox {
    margin-top: 100px !important;
    flex-direction: row;
    gap: 30px;
    margin-bottom: 50px;
  }
  .imageBox h4 {
    font-size: 3vw;
    text-align: center;
  }
  .imageBox p {
    font-size: 1.5vmax;
  }
  .imageBox .movieImageSelect {
    min-width: 25%;
  }
  .similarContainer {
    background: rgba(0, 0, 0, 0.68);
    padding: 15px;
    width: 80%;
  }
  .contenedorRatingFav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
  }
  .contenedorRatingFav .itemBotton {
    position: relative;
    display: flex;
    align-items: center;
    gap: 20px;
    width: 60%;
    height: 50px;
    justify-content: center;
  }
  .contenedorRatingFav .boxStart {
    display: flex;
    align-items: revert;
    justify-content: flex-start;
    width: 100%;
  }
}
@media screen and (min-width: 1280px) {
  .imageBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
    padding: 50px;
    margin: 50px;
    width: 70%;
  }
  .imageBox p {
    font-size: 1.5vmax;
  }
  .imageBox .infoBox {
    width: 100%;
  }
  .imageBox .infoBox h4 {
    font-size: 3vmax;
    width: 100%;
    text-align: left;
  }
  .imageBox .movieImageSelect {
    width: 25%;
  }
  .similarContainer {
    background: rgba(0, 0, 0, 0.68);
    padding: 0px;
    width: 90%;
  }
  .similarContainer h1 {
    color: rgb(240, 229, 229);
    font-size: 12px;
    width: 100%;
    text-align: center;
    padding-bottom: 0;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
    background: #992243;
  }
  .similarContainer .CarSimilar {
    margin: 30px !important;
    width: 70%;
    background: rgba(223, 223, 230, 0.116) !important;
    padding: 20px;
    margin: 15px;
  }
  .similarContainer .CarSimilar .boxImg img {
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
  }
  .similarContainer .slick-prev {
    left: -55px;
    border: rgba(169, 168, 182, 0.363) solid 5px;
  }
  .similarContainer .slick-next {
    right: -55px;
    border: rgba(169, 168, 182, 0.363) solid 5px;
  }
  .slick-slide {
    width: 200px !important;
  }
}
.emptyBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: 795px;
  align-items: center;
  margin-top: 158px !important;
  height: 162px;
  margin: 80px;
  padding: 20px;
  background: rgba(0, 0, 0, 0.3215686275);
}
.emptyBox h4 {
  font-size: 30px;
  padding-bottom: 20px;
}
.emptyBox p {
  font-size: 20px !important;
  color: white;
  font-family: 500;
  font-size: 17px;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
}
.search .searchBox {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
}
.search input {
  max-width: 100%;
  background: none;
  border: none;
  width: 95%;
  height: 30px;
  border: white solid 1px;
  border-radius: 20px;
  padding-left: 20px;
  color: white;
  font-size: 17px;
}
.search .lupa {
  color: rgb(255, 255, 255);
  background: none;
  border: none;
  padding-right: 20px;
  position: absolute;
  top: 4px;
  right: -9px;
  cursor: pointer;
}

.slider {
  width: 100%;
  height: 500px;
  overflow: hidden;
  position: absolute;
}

.slider ul {
  display: flex;
  -webkit-animation: cambio 20s infinite alternate linear;
          animation: cambio 20s infinite alternate linear;
  width: 400%;
}

.slider li {
  width: 100%;
  list-style: none;
}

.slider img {
  width: 100%;
  height: 100%;
}

.bg {
  position: relative;
  background-color: rgba(0, 0, 0, 0.651);
  width: 100%;
  height: 500px;
  overflow: hidden;
}
.bg .boxContenedor {
  border: red solid;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
}
.bg .boxContenedor h2 {
  color: white;
}

@-webkit-keyframes cambio {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}

@keyframes cambio {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .slider,
.slider ul,
.slider img {
    height: 100vh;
  }
}
.flexContainer {
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  align-items: center;
}
.flexContainer .contenedorTopMovies {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  background: #1f2938;
  margin-top: 50px;
  padding: 20px;
}
.flexContainer .contenedorTopMovies h2 {
  color: #8ba2c4;
  width: 100%;
  font-size: 0.9rem;
  text-align: center;
  background-color: #141a32;
  padding: 0.5rem;
  text-transform: uppercase;
  border-radius: 3px;
  margin-bottom: 1.25rem;
}
.flexContainer .contenedorTopMovies .MovieBox {
  width: 100%;
  border-radius: 5px;
  display: flex;
  padding-bottom: 30px;
  gap: 20px;
}
.flexContainer .contenedorTopMovies .MovieBox .infoBoxCard {
  line-height: 30px;
  width: 100%;
}
.flexContainer .contenedorTopMovies .MovieBox .infoBoxCard h4 {
  font-size: 20px !important;
  padding: 0 !important;
  color: white;
  font-weight: 400;
  letter-spacing: 0.5px;
  width: 100% !important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.flexContainer .contenedorTopMovies .MovieBox .infoBoxCard p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
  font-size: 20px;
}
.flexContainer .contenedorTopMovies .MovieBox .infoBoxCard .votoTop {
  color: #edb709;
}
.flexContainer .contenedorTopMovies .MovieBox .infoBoxCard .horaTop {
  color: #8da0bc;
  font-size: 15px;
}
.flexContainer .contenedorTopMovies .MovieBox .infoBoxCard .añoTop {
  color: #8da0bc;
  font-size: 15px;
}
.flexContainer .contenedorTopMovies .MovieBox .movieImageTop {
  max-width: 27%;
  border-radius: 5px;
}

.tituloPelis {
  padding-left: 0px !important;
  color: white;
  padding-bottom: 20px;
  text-transform: capitalize !important;
  text-align: center;
}

.tituloPelis2 {
  padding-left: 0px !important;
  color: white;
  padding-bottom: 20px;
  margin-top: 100px;
  text-transform: capitalize !important;
  text-align: center;
}

@media screen and (min-width: 810px) {
  .tituloPelis {
    width: 100%;
    color: white;
    padding-bottom: 20px;
    text-transform: capitalize !important;
    text-align: left;
    padding-left: 20px !important;
  }
  .tituloPelis2 {
    width: 50%;
    color: white;
    padding-bottom: 20px;
    text-transform: capitalize !important;
    position: relative;
    left: -58px;
  }
  .flexContainer {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    margin: 0 auto;
    align-items: flex-start;
    position: relative;
  }
  .flexContainer .contenedorTopMovies {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    background: rgba(31, 41, 56, 0.5882352941);
    margin-top: 0px;
    padding: 7px;
  }
  .flexContainer .contenedorTopMovies .MovieBox {
    width: 100%;
    border-radius: 5px;
    display: flex;
    padding-bottom: 15px;
    gap: 11px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }
  .flexContainer .contenedorTopMovies .MovieBox .movieImageTop {
    max-width: 60%;
  }
  .flexContainer .contenedorTopMovies .MovieBox .infoBoxCard {
    line-height: 26px;
    width: 100%;
    text-align: center;
  }
  .flexContainer .contenedorTopMovies .MovieBox .infoBoxCard h4 {
    font-size: 16px !important;
  }
  .flexContainer .contenedorTopMovies .MovieBox .infoBoxCard .datainfo {
    width: 100% !important;
  }
  .flexContainer .contenedorTopMovies .MovieBox .infoBoxCard p {
    font-size: 17px;
  }
  .flexContainer .contenedorTopMovies .MovieBox .infoBoxCard p span {
    font-size: 13.9px;
  }
}
@media screen and (min-width: 1280px) {
  .contenedorTopMovies {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 22% !important;
    background: #1f2938;
    margin-top: 50px;
    padding: 20px;
  }
  .contenedorTopMovies h2 {
    color: #4f6b95;
    width: 100%;
    font-size: 0.9rem;
    text-align: center;
    background-color: #141a32;
    padding: 0.5rem;
    text-transform: uppercase;
    border-radius: 3px;
    margin-bottom: 1.25rem;
  }
  .contenedorTopMovies .MovieBox {
    width: 100%;
    border-radius: 5px;
    display: flex;
    flex-direction: row !important;
    justify-content: start !important;
    align-items: start !important;
    padding-bottom: 30px;
    gap: 11px;
  }
  .contenedorTopMovies .MovieBox .infoBoxCard {
    line-height: 30px;
    width: 100%;
  }
  .contenedorTopMovies .MovieBox .infoBoxCard h4 {
    font-size: 20px !important;
    padding: 0 !important;
    color: white;
    font-weight: 400;
    letter-spacing: 0.5px;
    width: 100% !important;
    text-align: left;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  .contenedorTopMovies .MovieBox .infoBoxCard p {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: white;
    font-size: 20px;
  }
  .contenedorTopMovies .MovieBox .infoBoxCard .votoTop {
    color: #edb709;
  }
  .contenedorTopMovies .MovieBox .infoBoxCard .horaTop {
    color: #8da0bc;
    font-size: 17px;
  }
  .contenedorTopMovies .MovieBox .infoBoxCard .añoTop {
    color: #8da0bc;
    font-size: 17px;
  }
  .contenedorTopMovies .MovieBox .movieImageTop {
    width: 40% !important;
    border-radius: 5px;
  }
  .contenedorMovies {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    justify-items: center;
    align-items: center;
    justify-content: space-evenly;
    gap: 2em;
    padding-bottom: 15px;
    padding-top: 0px;
    border-radius: 5px;
    width: 72% !important;
    margin-top: 0px;
  }
  .tituloPelis {
    width: 24%;
    color: white;
    padding-bottom: 20px;
    text-transform: capitalize !important;
    position: relative;
    left: 5.6%;
  }
  .tituloPelis2 {
    width: 24%;
    color: white;
    padding-bottom: 20px;
    text-transform: capitalize !important;
    position: relative;
    left: 52px;
  }
  .flexContainer {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 91%;
    margin: 0 auto;
    align-items: flex-start;
  }
}
.container-all {
  position: relative;
  width: 100% !important;
  border-radius: 6px;
  overflow: hidden;
  margin: 0 auto;
  height: 475px;
  top: 0px;
}
.container-all img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.boxInfo {
  background: rgb(8, 15, 40);
  background: linear-gradient(0deg, rgb(8, 15, 40) 0%, rgba(8, 16, 45, 0) 100%);
  position: absolute;
  top: 10px;
  height: 640px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.boxInfo .contenedorInfoBanner {
  width: 85%;
  margin: 0 auto;
}
.boxInfo .contenedorInfoBanner .boxRating {
  display: flex;
  gap: 20px;
  padding-bottom: 5px;
}
.boxInfo .contenedorInfoBanner .boxRating .votoTop {
  color: #edb709;
  font-weight: 700;
}
.boxInfo .contenedorInfoBanner .boxRating .votoTop span {
  font-size: 15px !important;
}
.boxInfo .contenedorInfoBanner .boxRating p {
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
  font-size: 17px;
}
.boxInfo .contenedorInfoBanner h1 {
  color: #fff;
  font-weight: 700;
  letter-spacing: -1px;
  font-size: 30px;
  line-height: 1.2;
  padding-bottom: 20px;
}
.boxInfo .contenedorInfoBanner .desc {
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: rgba(209, 207, 219, 0.8901960784);
  font-size: 19px;
  line-height: 25px;
  margin-bottom: 30px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  overflow: hidden;
}
.boxInfo button {
  display: flex;
  justify-items: center;
  justify-content: center;
  gap: 20px;
  border: none;
  padding: 12px;
  font-size: 20px;
  border-radius: 30px;
  color: #fff;
  font-weight: 500;
  background-color: #007aff;
  cursor: pointer;
  width: 200px;
}
.boxInfo button:hover {
  background-color: #125eaf;
}

.slide {
  display: flex;
  transform: translate3d(0, 0, 0);
  transition: all 600ms;
  -webkit-animation-name: autoplay;
          animation-name: autoplay;
  -webkit-animation-duration: 6.5s;
          animation-duration: 6.5s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  height: 100%;
}

.item-slide {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  flex-grow: 0;
  width: 100%;
}

.pagination {
  position: absolute;
  bottom: 20px;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  z-index: 2;
}

.pagination-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 16px;
  height: 16px;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  background: #007aff;
  margin: 0 10px;
  text-align: center;
  transition: all 300ms;
}

.pagination-item:hover {
  transform: scale(1);
  width: 30px;
}

.pagination-item img {
  display: inline-block;
  max-width: none;
  height: 100%;
  transform: scale(1);
  opacity: 0;
  transition: all 300ms;
}

.pagination-item:hover img {
  opacity: 1;
  transform: scale(1);
}

input[id="1"]:checked ~ .slide {
  -webkit-animation: none;
          animation: none;
  transform: translate3d(0, 0, 0);
}

input[id="1"]:checked ~ .pagination .pagination-item[for="1"] {
  background: #fff;
}

input[id="2"]:checked ~ .slide {
  -webkit-animation: none;
          animation: none;
  transform: translate3d(-100%, 0, 0);
}

input[id="2"]:checked ~ .pagination .pagination-item[for="2"] {
  background: #fff;
}

input[id="3"]:checked ~ .slide {
  -webkit-animation: none;
          animation: none;
  transform: translate3d(-200%, 0, 0);
}

input[id="3"]:checked ~ .pagination .pagination-item[for="3"] {
  background: #fff;
}

input[id="4"]:checked ~ .slide {
  -webkit-animation: none;
          animation: none;
  transform: translate3d(-300%, 0, 0);
}

input[id="4"]:checked ~ .pagination .pagination-item[for="4"] {
  background: #fff;
}

@-webkit-keyframes autoplay {
  33% {
    transform: translate3d(0%, 0, 0);
  }
  66% {
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    transform: translate3d(-200%, 0, 0);
  }
}

@keyframes autoplay {
  33% {
    transform: translate3d(0%, 0, 0);
  }
  66% {
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    transform: translate3d(-200%, 0, 0);
  }
}
@keyframes autoplay {
  33% {
    transform: translate3d(0%, 0, 0);
  }
  66% {
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    transform: translate3d(-200%, 0, 0);
  }
}
@media screen and (min-width: 810px) {
  .container-all {
    top: 0px;
  }
  .boxInfo {
    background: rgb(8, 15, 40);
    background: linear-gradient(0deg, rgb(8, 15, 40) 0%, rgba(8, 16, 45, 0) 100%);
    position: absolute;
    height: 640px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .boxInfo .contenedorInfoBanner {
    width: 93%;
  }
  .boxInfo .contenedorInfoBanner .boxRating {
    display: flex;
    gap: 20px;
    padding-bottom: 20px;
  }
  .boxInfo .contenedorInfoBanner .boxRating .votoTop {
    color: #edb709;
    font-weight: 700;
  }
  .boxInfo .contenedorInfoBanner .boxRating .votoTop span {
    font-size: 15px !important;
  }
  .boxInfo .contenedorInfoBanner .boxRating p {
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: white;
    font-size: 20px;
  }
  .boxInfo .contenedorInfoBanner h1 {
    color: #fff;
    font-weight: 700;
    letter-spacing: -1px;
    font-size: 37px;
    line-height: 1.3;
    padding-bottom: 20px;
  }
  .boxInfo .contenedorInfoBanner .desc {
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: rgba(209, 207, 219, 0.8901960784);
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 30px;
  }
  .boxInfo button {
    display: flex;
    justify-items: center;
    justify-content: center;
    gap: 20px;
    border: none;
    padding: 12px;
    font-size: 20px;
    border-radius: 30px;
    color: #fff;
    font-weight: 500;
    border: solid #007aff !important;
    background-color: #125eaf;
    cursor: pointer;
    width: 200px;
  }
  .boxInfo button:hover {
    background-color: #007aff;
  }
  .slide {
    display: flex;
    transform: translate3d(0, 0, 0);
    transition: all 600ms;
    -webkit-animation-name: autoplay;
            animation-name: autoplay;
    -webkit-animation-duration: 7.5s;
            animation-duration: 7.5s;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
  }
  .item-slide {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;
    width: 100%;
  }
  .pagination {
    position: absolute;
    bottom: 20px;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: 2;
  }
  .pagination-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 16px;
    height: 16px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    background: #007aff;
    margin: 0 10px;
    text-align: center;
    transition: all 300ms;
  }
  .pagination-item:hover {
    transform: scale(1);
    width: 30px;
  }
  .pagination-item img {
    display: inline-block;
    max-width: none;
    height: 100%;
    transform: scale(1);
    opacity: 0;
    transition: all 300ms;
  }
  .pagination-item:hover img {
    opacity: 1;
    transform: scale(1);
  }
  input[id="1"]:checked ~ .slide {
    -webkit-animation: none;
            animation: none;
    transform: translate3d(0, 0, 0);
  }
  input[id="1"]:checked ~ .pagination .pagination-item[for="1"] {
    background: #fff;
  }
  input[id="2"]:checked ~ .slide {
    -webkit-animation: none;
            animation: none;
    transform: translate3d(-100%, 0, 0);
  }
  input[id="2"]:checked ~ .pagination .pagination-item[for="2"] {
    background: #fff;
  }
  input[id="3"]:checked ~ .slide {
    -webkit-animation: none;
            animation: none;
    transform: translate3d(-200%, 0, 0);
  }
  input[id="3"]:checked ~ .pagination .pagination-item[for="3"] {
    background: #fff;
  }
  input[id="4"]:checked ~ .slide {
    -webkit-animation: none;
            animation: none;
    transform: translate3d(-300%, 0, 0);
  }
  input[id="4"]:checked ~ .pagination .pagination-item[for="4"] {
    background: #fff;
  }
  @-webkit-keyframes autoplay {
    33% {
      transform: translate3d(0%, 0, 0);
    }
    66% {
      transform: translate3d(-100%, 0, 0);
    }
    100% {
      transform: translate3d(-200%, 0, 0);
    }
  }
  @keyframes autoplay {
    33% {
      transform: translate3d(0%, 0, 0);
    }
    66% {
      transform: translate3d(-100%, 0, 0);
    }
    100% {
      transform: translate3d(-200%, 0, 0);
    }
  }
  @keyframes autoplay {
    33% {
      transform: translate3d(0%, 0, 0);
    }
    66% {
      transform: translate3d(-100%, 0, 0);
    }
    100% {
      transform: translate3d(-200%, 0, 0);
    }
  }
}
@media screen and (min-width: 1280px) {
  .boxInfo .contenedorInfoBanner {
    width: 77%;
  }
  .container-all {
    position: relative;
    width: 100% !important;
    border-radius: 6px;
    overflow: hidden;
    margin: 0 auto;
    height: 630px;
    top: 0px;
  }
}
.BoxFavoritos {
  width: 90%;
  margin: 0 auto;
}
.BoxFavoritos .tituloFavoritos {
  font-size: 35px;
  margin-top: 120px;
  padding-bottom: 10px;
}
.BoxFavoritos .subTituloFavoritos {
  font-size: 21px;
  padding-bottom: 10px;
  color: #f5b921;
}
.BoxFavoritos .favoritosContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(154px, 1fr));
  justify-items: center;
  justify-content: space-evenly;
  gap: 2em;
  padding: 20px;
  border-radius: 5px;
  background: rgba(105, 107, 141, 0.4588235294);
  height: 100%;
  min-height: 600px;
}
.BoxFavoritos .favoritosContainer img {
  width: 100%;
}
.BoxFavoritos .favoritosContainer .refTituloFav {
  border: solid #007aff !important;
  background-color: #125eaf;
  letter-spacing: 1px;
  color: white;
  text-align: center;
  padding: 5px;
}

body {
  background-color: #080f28;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, Oxygen, Ubuntu, Cantarell, open sans, helvetica neue, sans-serif;
}

.pages {
  color: #316685;
  text-align: center;
  font-size: 3.5rem;
  margin-top: 10%;
}

h2 {
  font-size: 20px;
  font-family: "Josefin Sans", sans-serif;
}

h5 {
  font-size: 20px;
  font-family: "Source Code Pro", monospace;
}

h3 {
  font-family: "Josefin Sans", sans-serif;
}/*# sourceMappingURL=app.css.map */