.error {
  background: red;
  color: white;
  width: 90%;
  padding: 10px !important;
  text-align: center;
  font-size: 15px;
  margin-top: 10px;
  margin: 0 auto;
}
.button {
  background: none;

  border: white solid;
  border-radius: 10px;
  padding: 7px;
  cursor: pointer;
}
.button:hover {
  border: #484c48 solid;
  transition: all ease-out 200ms;
}
.boton_logOut {
  padding: 7px;
  letter-spacing: 1.6px;
  font-weight: 500;
  font-size: 15px;
  border-radius: 30px;
  color: #fff;
  font-weight: 500;
  border: solid #007aff !important;
  background-color: #125eaf;
  cursor: pointer;
  width: 100px;
}

.boton_logOut:hover {
  background: #007aff;
}

.texto {
  animation: pulsate 0.11s ease-in-out infinite alternate;
  color: #fff;
  font-family: Yellowtail, sans-serif;
  font-size: 14px;
  text-shadow: 0 0 7px #424444, 0 0 10px #fff, 0 0 21px #fff, 0 0 82px #5271ff,
    0 0 92px #5271ff;
}
