.emptyBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: 795px;
  align-items: center;
  margin-top: 158px !important;
  height: 162px;
  margin: 80px;
  padding: 20px;
  background: rgba(0, 0, 0, 0.3215686275);
  width: 80%;
  margin: 0 auto;
  text-align: center;

  h4 {
    font-size: 30px;
    padding-bottom: 20px;
  }
  p {
    font-size: 20px !important;
    color: white;
    font-family: 500;
    font-size: 17px;
  }
}
