.formContent {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  margin-top: 100px;

  .formBox {
    display: flex;
    flex-direction: column;
    width: 240px;
    padding: 40px;
    margin-top: 50px;
    margin-right: 20px;
    margin-left: 20px;
    background: #e9dede;
    text-align: center;
  }
  h1 {
    color: #3742fa;
    text-transform: uppercase;
    font-weight: 500;
  }
  input {
    border: 0;
    background: none;
    margin: 20px auto;
    padding-bottom: 10px;
    border-bottom: #3742fa solid 2px;
    outline: none;
    font-size: 17px;
    width: 100%;
    color: black;
  }

  input:focus {
  }

  input:hover {
    width: 100%;
  }
  .button {
    border: 0;
    background: #3742fa;
    cursor: pointer;
    border: 2px solid #3742fa;
    width: 100%;
    height: 13%;
    color: white;
  }

  .button:hover {
    background: rgb(9, 19, 202);
  }
}

@media screen and (min-width: 810px) {
  .formBox {
    width: 500px !important;
  }
}
